<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699269714460-577kukge0eoir0s91feh58jpkteh9ftt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699269714460-577kukge0eoir0s91feh58jpkteh9ftt</string>
	<key>API_KEY</key>
	<string>AIzaSyDriOjyNmdkES3aSS6AeOvXzNeMIZ02lJE</string>
	<key>GCM_SENDER_ID</key>
	<string>699269714460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>winona.clayton.SPOTTERAPP</string>
	<key>PROJECT_ID</key>
	<string>spotter-application</string>
	<key>STORAGE_BUCKET</key>
	<string>spotter-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699269714460:ios:e9eaa82c7fbab0618885d9</string>
</dict>
</plist>